@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,500,700&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/roboto-mono@4.4.5/400.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/roboto-mono@4.4.5/400-italic.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/roboto-mono@4.4.5/500.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/roboto-mono@4.4.5/700.css");

.cm-editor .cm-content,
.cm-editor .cm-scroller {
  font-family: Menlo, "Roboto Mono", "Lucida Sans Typewriter", "Source Code Pro",
    monospace !important;
  font-size: 0.75rem;
  font-size: 16px;
}

.cm-editor {
  background-color: #202124 !important;
}

.cm-tooltip {
  z-index: 10;
}

.cm-editor:focus-within .cm-matchingBracket {
  color: white !important;
  font-weight: 700;
  background-color: #c58c237a;
  border-radius: 2px;
}

.cm-editor .cm-placeholder {
  color: rgb(255 255 255 / 20%);
  font-style: italic;
}

.cm-cursor {
  border-left: 1.2px solid white !important;
}

.cm-scroller {
  padding: 8px !important;
}
