:root {
  /* code highlighting */
  --cm-editor-text-color: #ffe9fc;
  --cm-comment-color: #e96ba8;
  --cm-atom-color: hsl(8deg 72% 62%);
  --cm-number-color: hsl(271deg 45% 64%);
  --cm-property-color: #f99b15;
  --cm-keyword-color: #ff7a6f;
  --cm-string-color: hsl(20deg 69% 59%);
  --cm-var-color: #afb7d3;
  --cm-var2-color: #06b6ef;
  --cm-macro-color: #82b38b;
  --cm-builtin-color: #5ed37f;
  --cm-function-color: #f99b15;
  --cm-type-color: hsl(51deg 32% 44%);
  --cm-bracket-color: #a2a273;
  --cm-tag-color: #ef6155;
  --cm-link-color: #815ba4;
  --cm-error-bg-color: #ef6155;
  --cm-error-color: #f7f7f7;
  --cm-matchingBracket-color: white;
  --cm-matchingBracket-bg-color: #c58c237a;
  --cm-placeholder-text-color: rgb(255 255 255 / 20%);

  --cm-selection-background: hsl(215deg 64% 59% / 48%);
  --cm-selection-background-blurred: hsl(0deg 0% 59% / 11%);

  color-scheme: light dark;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: var(--prexisting-transform) translate3d(-1px, 0, 0)
      rotateZ(-1deg);
  }
  20%,
  80% {
    transform: var(--prexisting-transform) translate3d(2px, 0, 0) rotateZ(2deg);
  }
  30%,
  50%,
  70% {
    transform: var(--prexisting-transform) translate3d(-4px, 0, 0) rotateZ(0deg);
  }
  40%,
  60% {
    transform: var(--prexisting-transform) translate3d(4px, 0, 0) rotateZ(1deg);
  }
}

kbd {
  vertical-align: middle;
  background-color: black;
  color: white;
  padding: 8px 24px;
  border-radius: 16px;
  border: solid 4px white;
  animation: opacity 0.2s ease-in-out;
}
