:root {
  /* TODO Get this out of here, but still themable? IDK */
  --cm-editor-text-color: #008c85;
  --cm-matchingBracket-color: white;
  --cm-matchingBracket-bg-color: #c58c237a;
  --cm-placeholder-text-color: rgb(255 255 255 / 20%);
  --cm-selection-background: hsl(215deg 64% 59% / 48%);
  --cm-selection-background-blurred: hsl(0deg 0% 59% / 30%);

  --mono-font-family: Menlo, "Roboto Mono", "Lucida Sans Typewriter",
    "Source Code Pro", monospace;

  color-scheme: dark;
}

.programming-error-oops {
  position: relative;
}

.programming-error-oops::before {
  /* text-decoration: underline;
  text-decoration-color: #860101;
  text-decoration-thickness: 3px; */

  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background: #860101;

  animation: frantic-error-wiggle 0.82s cubic-bezier(0.36, 0.07, 0.14, 1.24)
    both infinite;
  animation-delay: 0.5s;
  transform: translate3d(0, 0, 0);
  filter: brightness(1);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes frantic-error-wiggle {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
    filter: brightness(1.1);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
    filter: brightness(1.2);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
    filter: brightness(1.8);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
    filter: brightness(1.8);
  }
}
