.programming-error-oops {
  position: relative;
}

.programming-error-oops::before {
  /* text-decoration: underline;
  text-decoration-color: #860101;
  text-decoration-thickness: 3px; */

  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background: #860101;

  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.14, 1.24) both infinite;
  animation-delay: 0.5s;
  transform: translate3d(0, 0, 0);
  filter: brightness(1);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
    filter: brightness(1.1);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
    filter: brightness(1.2);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
    filter: brightness(1.8);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
    filter: brightness(1.8);
  }
}
