:root {
  /* TODO Get this out of here, but still themable? IDK */
  --cm-editor-text-color: #008c85;
  --cm-matchingBracket-color: white;
  --cm-matchingBracket-bg-color: #c58c237a;
  --cm-placeholder-text-color: rgb(255 255 255 / 20%);
  --cm-selection-background: hsl(215deg 64% 59% / 48%);
  --cm-selection-background-blurred: hsl(0deg 0% 59% / 30%);

  color-scheme: dark;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: var(--prexisting-transform) translate3d(-1px, 0, 0)
      rotateZ(-1deg);
  }
  20%,
  80% {
    transform: var(--prexisting-transform) translate3d(2px, 0, 0) rotateZ(2deg);
  }
  30%,
  50%,
  70% {
    transform: var(--prexisting-transform) translate3d(-4px, 0, 0) rotateZ(0deg);
  }
  40%,
  60% {
    transform: var(--prexisting-transform) translate3d(4px, 0, 0) rotateZ(1deg);
  }
}

kbd {
  vertical-align: middle;
  background-color: black;
  color: white;
  padding: 8px 24px;
  border-radius: 16px;
  border: solid 4px white;
  animation: opacity 0.2s ease-in-out;
}
