.cell {
  border-radius: 5px;
  border: solid 1px #ffffff36;

  .inspector-container {
    background-color: rgb(0 74 18 / 29%) !important;
  }
  .cell-editor {
    background-color: rgb(0 27 8 / 27%) !important;
  }
  .cell-editor:not(:focus-within) {
    max-height: 85px;
  }

  .cell-editor .cm-content {
    margin: 8px;
  }
}
